.list {
	height: 125px;
	border: black solid 1px;
	margin-bottom: 30px;
}

.list:HOVER{
	border: red solid 1px;
}

.list>div{
	float: left;
}

.list .list_col{
	width: 25%; float: left;
}

.list_col ul{
	list-style: none; padding: 2px; padding-left: 0px;
}

.list_col li{
	padding: 2px; padding-right: 0px;
}

.list_col li label{
	padding-left: 16px;
}